<!-- Header Section -->
<div class="flex justify-between pl-4 pr-4 m-2">
    <div class="flex flex-wrap items-center gap-4">
        <h1 class="font-semibold text-2xl">
            @if (isNew()) {
            Inventarisierung anlegen
            } @else {
            Inventarisierung bearbeiten
            }
        </h1>
    </div>
    <div class="flex flex-col md:flex-row gap-4">
        @if (!isNew()) {
        <button mat-stroked-button color="warn" (click)="openDeleteDialog()" [disabled]="isNew()">Löschen</button>
        <button mat-stroked-button color="warn" (click)="openDeinventorizationDialog()"
            [disabled]="isNew() || inventoryItem().is_deinventoried">Deinventarisieren</button>
        }
        <button mat-flat-button color="primary" (click)="saveInventorization()"
            [disabled]="!isEditedValid()">Speichern</button>
    </div>
</div>

<div class="grid grid-cols-1 xl:grid-cols-2 p-4 gap-4">
    <app-card title="Daten" class="">
        <div card-content class="grid grid-cols-1 gap-2 pt-4">

            <app-item-editor [(item)]="editableInventoryItem" [itemColumns]="itemColumns"
                [(disabledInputs)]="disabledInputs" (isValid)="isEditedValid.set($event)"
                (changes)="onItemChange($event)" />

        </div>
    </app-card>

    <div class="flex flex-col gap-4">
        <app-comments-editor [(unchangedComments)]="savedComments" [(newComments)]="newComments"
            [(deletedComments)]="deletedComments" />

        <app-tags-editor [(tags)]="tags" [(newTags)]="newTags" [availableTags]="availableTags()" />
    </div>

</div>
