<div class="text-center mt-12">
    <h1 class="text-4xl font-bold text-he-red">404 - Page Not Found</h1>
    <p class="text-lg text-gray-600 mt-4">Oops! The page you're looking for doesn't exist.</p>
    <p class="text-base text-gray-600 mt-2">You might have mistyped the URL or the page has been moved.</p>
    <a mat-raised-button color="primary" class="mt-4" href="/">
        Go to Homepage
    </a>
    <div class="mt-32 flex justify-center">
        <iframe class="rounded-lg shadow-lg" width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</div>
