<!-- Header Section -->
<div class="flex justify-between pl-4 pr-4 m-2">
    <div class="flex flex-wrap items-center gap-4">
        <h1 class="font-semibold text-2xl">
            @if (isNewExtension()) {
            Erweiterung anlegen
            } @else {
            Erweiterung bearbeiten
            }
        </h1>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
        @if (!isNewExtension()) {
        <button mat-stroked-button color="warn" (click)="openDeleteDialog()"
            [disabled]="isNewExtension()">Löschen</button>
        }
        <button mat-flat-button color="primary" (click)="onInventorization()" [disabled]="!isValid()">Speichern</button>
    </div>
</div>
<div class="p-4 gap-4">
    <app-card title="Erweiterung">
        @if (inventoryId() !== undefined) {
        <div card-content class="grid grid-cols-1 lg:grid-cols-2 gap-2 pt-4">

            <!-- Form Section -->
            <app-item-editor [(item)]="extension" [itemColumns]="itemColumns" [(disabledInputs)]="disabledInputs"
                [(requiredInputs)]="requiredInputs" (isValid)="onIsValidChange($event)"
                (changes)="onExtensionChange($event)">
            </app-item-editor>

            <!-- Inventory Item Section -->
            <div class="flex flex-col pl-4 pr-4 gap-8 m-2">

                <div class="flex justify-between">
                    <div class="flex flex-wrap items-center gap-4">
                        <h1 class="font-semibold text-xl">{{inventoryItem['description']}}</h1>
                        <h2>{{inventoryItem['id']}}</h2>
                    </div>
                    <button mat-stroked-button color="primary" (click)="resetSelectedInventory()"
                        [disabled]="false">Ändern</button>
                </div>

                <mat-divider />

                <div class="grid grid-cols-[max-content_1fr] gap-x-16 overflow-x-auto w-full">
                    @for (field of inventoryItemColumns.keys(); track field) {
                    <div class="p-2">{{inventoryItemColumns.get(field)}}</div>
                    <div class="p-2">
                        @if (field === 'price') {
                        {{localizePrice(inventoryItem[field])}}
                        } @else {
                        {{inventoryItem[field]}}
                        }
                    </div>
                    }
                </div>
            </div>

        </div>
        } @else {
        <!-- Inventory Selection Section -->
        <div card-content class="grid grid-cols-1 gap-2 pt-4">
            <app-inventory-list (onClickItem)="onSelectInventory($event)" />
        </div>
        }
    </app-card>
</div>
