<!-- Header Section -->
<div class="flex justify-between pl-4 pr-4 m-2">
    <div class="flex flex-wrap items-center gap-4">
        <h1 class="font-semibold text-2xl">
            @if (isNew()) {
            Erweiterung anlegen
            } @else {
            Erweiterung bearbeiten
            }
        </h1>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
        @if (!isNew()) {
        <button mat-stroked-button color="warn" (click)="openDeleteDialog()" [disabled]="isNew()">Löschen</button>
        }
        <button mat-flat-button color="primary" (click)="onInventorization()" [disabled]="!isValid()">Speichern</button>
    </div>
</div>
<div class="p-4 gap-4">
    @if (inventoryId() !== undefined) {
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">

        <!-- Inventory Item Section -->
        <app-card title="Inventargegenstand">
            <div card-content class="flex flex-col gap-8 mt-4">

                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-2">
                        <h1 class="font-semibold text-xl">{{inventoryItem['description']}}</h1>
                        <h2>#&nbsp;{{inventoryItem['id']}}</h2>
                    </div>
                    <button mat-stroked-button color="primary" (click)="resetSelectedInventory()"
                        [disabled]="false">Ändern</button>
                </div>

                <mat-divider />

                <div class="grid grid-cols-[max-content_1fr] gap-x-16 overflow-x-auto w-full">
                    @for (field of inventoryItemColumns.keys(); track field) {
                    <div class="p-2">{{inventoryItemColumns.get(field)}}</div>
                    <div class="p-2">
                        @if (field === 'price') {
                        {{localizePrice(inventoryItem[field])}}
                        } @else {
                        {{inventoryItem[field]}}
                        }
                    </div>
                    }
                </div>
            </div>
        </app-card>

        <!-- Form Section -->
        <app-card title="Erweiterung">
            <div card-content class="mt-4">
                <app-item-editor [(item)]="editableExtension" [itemColumns]="itemColumns"
                    [(disabledInputs)]="disabledInputs" [(requiredInputs)]="requiredInputs"
                    (isValid)="onIsValidChange($event)" (changes)="onExtensionChange($event)">
                </app-item-editor>
            </div>
        </app-card>

    </div>
    } @else {
    <!-- Inventory Selection Section -->
    <app-card title="Inventargegenstand auswählen">
        <div card-content class="mt-4">
            <app-inventory-list (onClickItem)="onSelectInventory($event)" [showDownloadButton]="false" />
        </div>
    </app-card>
    }
</div>
