<form [formGroup]="formGroup" class="flex flex-col gap-2">
    @for (field of itemColumns().keys(); track field) {
    <mat-form-field>
        <mat-label>{{itemColumns().get(field)}}</mat-label>
        <input matInput formControlName="{{field}}" [matAutocomplete]="auto" [placeholder]="initialValues[field]"
            [required]="requiredInputs().includes(field)" />
        <mat-error>
            @if (formGroup.get(field)?.hasError('required')) {
            {{itemColumns().get(field)}} ist erforderlich.
            } @else if (formGroup.get(field)?.hasError('pattern')) {
            Preis muss einem gültigen Format entsprechen.
            }
        </mat-error>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions.get(field) | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
    </mat-autocomplete>
    }
</form>
