<div class="min-h-full">
  <nav class="flex h-16 items-center justify-between bg-he-darkblue shadow-2xl">
    <div class="flex items-center">
      <!-- Logo-->
      <img class="h-16 w-auto object-contain px-8" src="images/logo_hochschule_esslingen_negativ_de.png"
        alt="Logo der Hochschule Esslingen" />
      <!-- Links-->
      <div class="flex w-fit items-baseline space-x-4">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a (click)="updateCurrentPageTitle('Startseite')" routerLink="/homepage"
          [routerLinkActive]="buttonActiveClasses" [routerLinkActiveOptions]="{ exact: true }"
          [class]="buttonClasses">Startseite</a>
        <a (click)="updateCurrentPageTitle('Inventarliste')" routerLink="/inventory"
          [routerLinkActive]="buttonActiveClasses" [routerLinkActiveOptions]="{ exact: true }"
          [class]="buttonClasses">Inventarliste</a>
        <a (click)="updateCurrentPageTitle('Bestellungen')" routerLink="/orders"
          [routerLinkActive]="buttonActiveClasses" [routerLinkActiveOptions]="{ exact: true }"
          [class]="buttonClasses">Bestellungen</a>
        <a (click)="updateCurrentPageTitle('Neue Inventarisierung')" routerLink="/new"
          [routerLinkActive]="buttonActiveClasses" [routerLinkActiveOptions]="{ exact: true }"
          [class]="buttonClasses">Neue&nbsp;Inventarisierung</a>
        <a (click)="updateCurrentPageTitle('Neue Erweiterung')" routerLink="/new-extension"
          [routerLinkActive]="buttonActiveClasses" [routerLinkActiveOptions]="{ exact: true }"
          [class]="buttonClasses">Neue&nbsp;Erweiterung</a>
        <a (click)="updateCurrentPageTitle('Statistiken')" routerLink="/statistics"
          [routerLinkActive]="buttonActiveClasses" [routerLinkActiveOptions]="{ exact: true }"
          [class]="buttonClasses">Statistiken</a>
      </div>
    </div>
    <button mat-button color="accent" class="mx-8" (click)="handleLogInOut()">
      @if (authService.validToken()) {
      Logout
      } @else {
      Login
      }
    </button>
  </nav>

  <main class="px-4 py-6 sm:px-6 lg:px-8">
    <router-outlet />
  </main>
</div>
