body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
}

h1 {
  padding-bottom: 15px;
}

.container-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  min-width: 400px;
}

.metrics {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  min-width: 150px;
  text-align: center;
  flex: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #aaaaaa;
}

th, td {
  border: 1px solid #4c4c4c;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #001f4d;
  color: white;
}

.right-section {
  max-width: 400px;
  flex-shrink: 0;
}

.legend-box {
  margin-top: 10px;
  width: fit-content;
  border: #4c4c4c solid 1px;
  padding: 10px;
}

.legend-box ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.legend-box li {
  margin-bottom: 4px;
}
