<section class="flex gap-4">
  <mat-form-field>
    <mat-label>Von</mat-label>
    <input matInput type="number" [(ngModel)]=leftValue min="{{minValue()}}" max="{{maxValue()}}">
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>Bis</mat-label>
    <input matInput type="number" [(ngModel)]=rightValue min="{{minValue()}}" max="{{maxValue()}}">
  </mat-form-field>
</section>

<mat-slider discrete="true" [min]=minValue() [max]=maxValue()>
  <input [(ngModel)]=leftValue matSliderStartThumb>
  <input [(ngModel)]=rightValue matSliderEndThumb>
</mat-slider>
