<app-card title="Kommentare">
    <div card-content class="pt-4">

        <div class="flex flex-col items-end pb-4">
            <mat-form-field class="w-full">
                <mat-label>Kommentar hinzufügen</mat-label>
                <textarea matInput [formControl]="newCommentFormControl"></textarea>
            </mat-form-field>

            <button mat-stroked-button color="primary" class="max-w-fit" (click)="addComment()"
                [disabled]="newCommentFormControl.value === ''">Kommentieren</button>
        </div>

        @if (displayedComments().length > 0) {
        <app-dynamic-list [tableContent]="displayedComments()" [columns]="commentsColumns" />
        }
    </div>
</app-card>
