<div class="flex justify-evenly">


  <!--   Filter Section START   --->
  <div  class="w-1/5">
    <div class="example-action-buttons">
      <button mat-button (click)="openAllAccordion()">Expand All</button>
      <button mat-button (click)="closeAllAccordions()">Collapse All</button>
    </div>

    <app-accordion title="Kostenstelle">
      <div expansion-panel-content>
        <app-chip
          [inputPlaceholder]="'Kostenstelle hinzufügen'"
          [options]="['123','222','222']"
        />
      </div>
    </app-accordion>

    <app-accordion title="Inventarnummer">
      <div expansion-panel-content>
        <app-range-slider
          [minValue]="0"
          [maxValue]="28000"
          [controlMin]="$any(inventoryForm).get('inventoryNumberMin')"
          [controlMax]="$any(inventoryForm).get('inventoryNumberMax')"
        /> <!-- $any needed to bypass Typescript type checking.  -->
      </div>
    </app-accordion>

    <app-accordion title="Zeitraum">
      <div expansion-panel-content>
        <app-datepicker
          [controlMin]="$any(inventoryForm).get('dateStart')"
          [controlMax]="$any(inventoryForm).get('dateEnd')"
        />
      </div>
    </app-accordion>

    <app-accordion title="Firma">
      <div expansion-panel-content>
        <app-chip
          [inputPlaceholder]="'Firma hinzufügen'"
          [options]="['Logitech','Steelseries','Razer']"
        ></app-chip>
      </div>
    </app-accordion>

    <app-accordion title="Preis">
      <div expansion-panel-content>
        <app-range-slider
          [minValue]="0"
          [maxValue]="2000"
          [controlMin]="$any(inventoryForm).get('priceMin')"
          [controlMax]="$any(inventoryForm).get('priceMax')"
        /> <!-- $any needed to bypass Typescript type checking.  -->
      </div>
    </app-accordion>

    <app-accordion title="Seriennummer">
      <div expansion-panel-content>
        <app-chip
          [inputPlaceholder]="'Seriennummer hinzufügen'"
          [options]="['ABCDE12345','DEFGHI56789','JKLMN101112', 'ABCDE12345','DEFGHI56789','JKLMN101112', 'ABCDE12345','DEFGHI56789','JKLMN101112']"
        />
      </div>
    </app-accordion>

    <app-accordion title="Standort/Nutzer">
      <div expansion-panel-content>
        <app-chip
          [inputPlaceholder]="'Standort oder Nutzer hinzufügen'"
          [options]="['Andreas Heinrich','Jörg Nitzsche', 'F01.110']"
        />
      </div>
    </app-accordion>

    <app-accordion title="Bestellt von">
      <div expansion-panel-content>
        <app-chip
          [inputPlaceholder]="'Besteller hinzufügen'"
          [options]="['Emanuel Reichsöllner']"
        />
      </div>
    </app-accordion>

    <app-accordion title="Tags">
      <div expansion-panel-content>
        <app-chip
          [inputPlaceholder]="'Tags hinzufügen'"
          [options]="['Netzteil', 'Mobil', 'Zubehör', 'Laptop Bedarf', 'ASUS']"
        />
      </div>
    </app-accordion>
  </div>
  <!--   Filter Section END   --->


  <!--   Content Section START   --->
  <div class="w-2/3">
    <app-card title="Inventargegenstände">
      <div card-content>
        <app-inventory-list></app-inventory-list>
      </div>
    </app-card>
  </div>
  <!--   Content Section END   --->


</div>
