<!-- Imported from Figma, needs reworking -->

<div class="flex flex-col p-8 gap-12">
    <!-- Header Section -->
    <div class="flex justify-between">
        <div class="flex flex-wrap items-center gap-4">
            <button class="p-2 max-h-10 border-2 border-red-600 flex">zurück</button> <!-- Back Button placeholder -->
            <h1 class="font-semibold text-2xl">{{inventoryItemInternal.get('description')}}</h1>
            <h2>{{inventoryItemInternal.get('id')}}</h2>
        </div>
        <div class="p-2 max-h-10 bg-red-600">bearbeiten</div> <!-- Placeholder for edit button -->
    </div>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Details Section -->
    <div class="flex gap-16">
        <div class="flex flex-col">
            <div *ngFor="let field of getInventoryItemIds()" class="p-2">{{inventoryItemColumns.get(field)}}</div>
        </div>
        <div class="flex flex-col">
            <div *ngFor="let field of getInventoryItemIds()" class="p-2">{{inventoryItemInternal.get(field)}}
                <span *ngIf="field === 'price'">€</span>
            </div>
        </div>
    </div>

    <!-- Additional Data -->
    <mat-expansion-panel *ngFor="let id of getPanelIds()" #Panels>
        <mat-expansion-panel-header>
            <mat-panel-title class="text-xl">{{panelIdNameMap.get(id)}}</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Panel content -->
        <app-dynamic-list *ngIf="panelContent.get(id) && panelContent.get(id)()!.length; else tagPanel"
            [tableContent]="panelContent.get(id)()" [columns]="panelColumnMaps.get(id)!">
        </app-dynamic-list>

        <ng-template #tagPanel>
            <mat-chip-set *ngIf="id === 'tags' && tags.length > 0; else noData">
                <mat-chip *ngFor="let tag of getTagNames()" role="listitem">{{tag}}</mat-chip>
            </mat-chip-set>
        </ng-template>

        <ng-template #noData>
            <p>Keine {{panelIdNameMap.get(id)}} vorhanden.</p>
        </ng-template>

    </mat-expansion-panel>

</div>
