<!-- Imported from Figma, needs reworking -->

<div class="flex flex-col p-8 gap-12">
    <!-- Header Section -->
    <div class="flex justify-between">
        <div class="flex flex-wrap items-center gap-4">
            <button class="p-2 max-h-10 border-2 border-red-600 flex">zurück</button> <!-- Back Button placeholder -->
            <h1 class="font-semibold text-2xl">{{inventoryItem().productDescription}}</h1>
            <h2>{{inventoryItem().inventoryNumber}}</h2>
        </div>
        <div class="p-2 max-h-10 bg-red-600">bearbeiten</div> <!-- Placeholder for edit button -->
    </div>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Details Section -->
    <div class="flex gap-16">
        <div class="flex flex-col">
            <div *ngFor="let field of getItemColumnIds()" class="p-2">{{inventoryItemColumns.get(field)}}</div>
        </div>
        <div class="flex flex-col">
            <div *ngFor="let field of getItemColumnIds()" class="p-2">{{inventoryItem()[field]}}
                <span *ngIf="field === 'price'">€</span>
            </div>
        </div>
    </div>

    <!-- Additional Data -->
    <mat-expansion-panel *ngFor="let name of panelNames" #Panels>
        <mat-expansion-panel-header>
            <mat-panel-title class="text-xl">{{name}}</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Panel content -->
        <app-dynamic-list *ngIf="name !== 'Tags' && panelContent.get(name)!().length; else noData"
            [tableContent]="panelContent.get(name)!()" [columns]="panelColumnMaps.get(name)!">
        </app-dynamic-list>

        <mat-chip-set *ngIf="name === 'Tags'">
            <ng-template *ngIf="tags()!.length === 0; else noData">
                <mat-chip *ngFor="let tag of tags()" role="listitem">{{tag}}</mat-chip>
            </ng-template>
        </mat-chip-set>

        <ng-template #noData>
            <p>Keine {{name}} vorhanden.</p>
        </ng-template>

    </mat-expansion-panel>

</div>