<div class="flex justify-evenly">


  <!--   Filter Section START   --->
  <div class="w-1/5 min-w-3xs">
    <app-card title="Ausgewählte Artikel inventarisieren ({{this.checkedCount()}})">
      <div card-content class="space-y-4 mt-4">

        <button mat-flat-button matTooltip="Artikel mit eigenen Inventarnummern inventarisieren."
          class="w-full min-w-fit" color="primary" [disabled]="checkedCount() < 1" (click)="inventarize('asItems')">
          Einzeln
        </button>

        <button mat-stroked-button matTooltip="Artikel bestehenden Inventarnummern hinzufügen." class="w-full min-w-fit"
          color="primary" [disabled]="checkedCount() < 1" (click)="inventarize('asExtensions')">
          Als Erweiterungen
        </button>

        <button mat-stroked-button
          matTooltip="Artikel unter einer Inventarnummer inventarisieren. Erster Artikel ist der Hauptartikel."
          class="w-full min-w-fit" color="primary" [disabled]="checkedCount() <= 1" (click)="inventarize('addToFirst')">
          Als ein Gegenstand
        </button>

      </div>
    </app-card>
  </div>


  <div class="w-3/4">
    <app-card title="Zu inventarisierende Artikel ({{numberOfArticles()}})">
      <div card-content>

        <div card-content class="flex items-center justify-between space-x-4">
          <!-- Checkbox aligned to the left -->

          <div class="px-2 py-2">
            <mat-checkbox color="primary" [checked]="allChecked" (change)="checkAll()">Alle
              auswählen</mat-checkbox>
          </div>

          <!-- Buttons aligned to the right -->
          <div class="flex justify-end space-x-2">
            <button mat-button (click)="openAllAccordion()">Alles ausklappen</button>
            <button mat-button (click)="closeAllAccordions()">Alles einklappen</button>
          </div>
        </div>

        @for (order of orders; track order.id) {
        <app-accordion title="{{order.description}} ({{order.articles.length}} Artikel)">
          <div expansion-panel-header class="flex items-center justify-between">
            <mat-checkbox color="primary" [checked]="isOrderChecked(order)" (click)="checkOrder($event, order)" />
          </div>

          <div expansion-panel-content class="flex flex-col space-y-2">
            @for (article of order.articles; track article.article_id) {
            <mat-checkbox [color]="checkedArticles.at(0)?.article_id === article.article_id ? 'accent' : 'primary'"
              (click)="checkBox($event, article)" [checked]="article.checked">

              {{article.description}}, {{article.price}}&nbsp;€, {{article.company}}, {{article.orderer}}
              {{checkedArticles.at(0)?.article_id === article.article_id ? '- Hauptartikel': ''}}
            </mat-checkbox> }
          </div>

        </app-accordion>

        }
      </div>
    </app-card>
  </div>

</div>
